.toolbar {  
  display: flex;  
  justify-content: space-between;  
  align-items: center;  
  padding: 15px 20px;  
  background-color: #f2f2f2;
  color: black;
  font-size: 16px;
}  
  
.nav-left {  
  flex: 1;  
}  
  
.dashboard-heading {  
  margin: 0; 
  font-weight: bold; 
}  
  
.nav-right {  
  display: flex;  
  align-items: center;  
}  
  
.username {  
  margin-right: 10px;  
}  
  
.logout-button {  
  padding: 5px 10px;  
  background-color: #f2f2f2;  
  border: none;  
  border-radius: 5px;  
  cursor: pointer;
  font-size: 14px;
}
